@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+P+One&family=Mohave&family=Roboto&display=swap');

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --clr-primary: #00fff5;
  --clr-darker-primary: #00adb5;
  --clr-dark: #293e46;
  --clr-darkest: #222831;
  --clr-white: #fff;
  --font-primary: 'Mohave';
  --font-secondary: 'Mochiy Pop P One';
}
a {
  text-decoration: none;
}
img {
  width: 100%;
  display: block;
}
body {
  font-family: 'Mohave';
  background: #ed4564;
}
.btn {
  display: block;
  cursor: pointer;
  margin-top: 1rem;
  padding: 0.75rem 2rem;
  background: var(--clr-darker-primary);
  border-radius: 5px;
  color: var(--clr-white);
  transition: all 0.2s linear;
}
.btn:hover {
  background: var(--clr-dark);
}

.section-title {
  margin-top: 5rem;
}
.section-title h1 {
  font-family: var(--font-secondary);
  text-align: center;
  color: var(--clr-primary);
}
.underline {
  width: 10rem;
  height: 0.25rem;
  background: var(--clr-dark);
  margin: 2rem auto;
}

.container {
  width: 85vw;
  max-width: 80rem;
  margin: 3rem auto;
}
.people {
  display: grid;
  gap: 2rem;
}
@media screen and (min-width: 576px) {
  .people {
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  }
}
.person {
  background-color: beige;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  box-shadow: 2px 6px 6px rgba(0, 0, 0, 0.4);
  transition: all 0.2s linear;
}
.person:hover {
  transform: scale(1.02);
}
.person img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.4);
  margin-bottom: 1rem;
}
.person h3 {
  text-transform: capitalize;
  font-size: 1.2rem;
  color: #293e46;
}

/* PAGE BUTTONS */
.btn-container {
  margin-top: 2rem;
  text-align: center;
}
.page-btn {
  width: 2rem;
  height: 2rem;
  border-radius: 5px;
  border: transparent;
  margin: 0.5rem;
  cursor: pointer;
  background: var(--clr-darker-primary);
  color: #fff;
}
.active-btn {
  background: var(--clr-dark);
  font-size: 1.3rem;
}
